{
  "project_info": {
    "project_number": "000000000000",
    "firebase_url": "https://your-project.firebaseio.com",
    "project_id": "your-project",
    "storage_bucket": "your-project.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.dark.animetailv2"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_GOOGLE_API_KEY"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
